#map { 
	height: 100vh; 
	width:100vw;
}

.leaflet-right{
	right:3vw;
}

.leaflet-popup-content p{
	margin: 0;
}

#mapx-poi-title{
	font-weight:bold;
	margin-bottom:5%;
	text-align: center;
	border-bottom: 1px solid black;
	padding-bottom: 2px;
}

#mapx-poi-description{
	margin-bottom:10%;
}

#show-user-position{
	width: 29px;
	
}

#show-user-position-container{
	background-color: #FFFFFF;
}

