{
	"poi": [{
		"_id": "<POI_Identification",
		"title": "<POI_Title>",
		"type": "<POI_Type_(EXPOSITION_SERVICE_TRANSITION)>",
		"sub_type": "<POI_SubType_(INTERSECTION_STAIRS_ELEVATOR_WASHROOMS_INFO-CENTER)>",
		"floor": "<POI_floor>",
	  	"subtype": "..",
		"x_coord": "<POI_X_COORDINATE>",
		"y_coord": "<POI_Y_COORDINATE>",
		"ibeacon_info": {
			"uuid": "<iBeacon_Unique_Identifier>",
			"minor": "<iBeacon_Minor_Value>",
			"major": "<iBeacon_Major_Value>"
		},
		"content": {
			"text": "<POI_Description>",
			"image": ["<POI_Corresponding_Image_Path>", "<POI_Corresponding_Image_Path>"],
			"video": ["<POI_Corresponding_Video_Path>", "<POI_Corresponding_Video_Path>"],
			"audio": ["<POI_Corresponding_Audio_Path>", "<POI_Corresponding_Audio_Path>"]
		},
		"extra_content": {
			"text": "<POI_Description>",
			"image": ["<POI_Corresponding_Image_Path>", "<POI_Corresponding_Image_Path>"],
			"video": ["<POI_Corresponding_Video_Path>", "<POI_Corresponding_Video_Path>"],
			"audio": ["<POI_Corresponding_Audio_Path>", "<POI_Corresponding_Audio_Path>"]
		},
		"storyline": [
			"<Storyline_id>", "<Storyline_id>", "<Storyline_id>"
		]
	}],
	"edges": [
      {
          "poi_1": "<POI_ID>",
          "poi_2": "<POI_ID>",
          "distance": "<distance_between_p1_and_p2>"
      }
	],
	"storylines": [
		{
			"id": "<storyline_id>",
			"title": "<storyline_title>",
			"description": "<storyline_description>",
			"color": "<storyline_color>",
			"sequence": ["<poi_id>", "<poi_id>", "<poi_id>"]
		}
	],
	"floor": [
		{
			"id": "<floor_id>",
			"link": "<link_where_to_fetch_the_floor_image_file>"
		}
	]
}